{{#if user}}
  <p>
    Hi
    {{user.username}}.
    {{motivationalMessage}}
  </p>
{{else}}
  <a href="/login">Login</a>
  or
  <a href="/register">Register</a>
  to start your journey to gainsville
{{/if}}