<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="wrapper">
      <div id="hd">
        {{#if user}}
          <div>Logged in as:
            {{user.username}}
            (<a href="/logout">Logout</a>)
          </div>
        {{/if}}
        <h1>Better Workout</h1>
      </div>
      <div id="bd">
        {{{body}}}
      </div>
      <div id="ft">
        {{#if user}}
          <a href="/">Home</a>
          |
          <a href="/wourkout/select">Start Workout</a>
          |
          <a href="/template/create">Create Template</a>
          |
          <a href="/template">Templates</a>
        {{/if}}
      </div>
    </div>
  </body>
</html>