<html>
  <head>

    <title></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link href='https://fonts.googleapis.com/css?family=Rock Salt' rel='stylesheet'>
    <style>
h1 {
    font-family: 'Rock Salt';font-size: 40px;
}
</style>
  </head>
  <body>
    <div id="wrapper">
      <div id="hd">
        {{#if user}}
          <div>Logged in as:
            {{user.username}}
            (<a href="/logout">Logout</a>)
          </div>
        {{/if}}
        <h1>💪
          Better Workout
          <span
            style="display: inline-block;transform: scale(-1, 1);"
          >💪</span></h1>
      </div>
      <div id="ft">
        {{#if user}}
          <a href="/">Home</a>
          |
          <a href="/workout/select">Start Workout</a>
          |
          <a href="/template/create">Create Template</a>
          |
          <a href="/template">Templates</a>
          |
          <a href="/workout/history">History</a>
        {{/if}}
      </div>
      <div id="bd">
        {{{body}}}
      </div>
    </div>
  </body>
</html>