<h2>Create a New Template</h2>
<form action="" method="POST">
  <div class="form-row"><label>Template Name:</label>
    <input type="text" name="templateName" /></div>

  <div class="form-exercise">
    <h1>Exercise 1</h1>

    <div class="form-row"><label>Name </label><input
        type="text"
        name="exerciseName"
      /></div>
    <div class="form-row"><label>Sets </label><input
        type="text"
        name="sets"
      /></div>
    <div class="form-row"><label>Reps </label><input
        type="text"
        name="reps"
      /></div>
    <div class="form-row"><label>Increment </label><input
        type="text"
        name="increment"
      /></div>
  </div>

  <div class="form-row"><input type="submit" value="Create Template" /></div>

</form>